body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    position: relative;
}

header {
    height: 70px;
    background: #090A08;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar {
    margin: 0 auto;
    width: 800px;
    overflow: hidden;
    position: relative;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 1em;
    margin: 0 2px;
    color: #6CBE2B;
    font-weight: 600;
}

.navbar a.active-left {
    background: #70ab00;
    color: whitesmoke;
}

.active-left, .nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.navbar a:hover {
    background-color: #E0DDAC;
    color: #090A08;
    transition-duration: 0.4s;
}

/*----------------Main---------------------*/

main {
    padding-bottom: 4.5em;
    background: linear-gradient(rgba(224, 221, 172, 0.7), rgba(255, 255, 255, 0.8)), url("../img/floor-tile.png");
}

#banner {
    background-image: url('../img/bg-bmw.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

#services {
    max-width: 800px;
    height: 400px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#services .card {
    height: 400px;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid lightgray;
    background: rgba(224, 221, 172, 0.6);
    font-size: 14px;
    color: rgb(60, 60, 60);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

#services .card img {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
}

#services .card p, #services .card h2 {
    margin: 10px 5px;
}

#services .card p {
    color: rgb(115, 115, 115);
}

.map {
    height: 300px;
    width: 100%;
}

/*----------------Form---------------------*/

.title {
    text-align: center;
    color: #090A08;
    margin: 0 auto;
    padding-top: 20px;
}

form {
    margin: 20px auto;
    width: 50%;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    font-weight: 600;
    background-image: url('../img/bg-green.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    height: 100%;
}

label, input {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

input {
    padding: 10px;
    box-sizing: border-box;
    margin: 15px 0;
}

button, label {
    color: #090A08;
}

label {
    text-align: right;
    margin-top: 10px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
}

button, .button {
    padding: 10px 30px;
    margin: 20px auto;
    display: flex;
    background: whitesmoke;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #090A08;
}

button:hover {
    background-color: #090A08;
    color: #70ab00;
    transition-duration: 0.2s;
}

.error {
    display: block;
    color: #c60b0b;
    font-weight: 600;
    text-shadow: 0 0.2px #410000;
}

.error {
    margin-top: 10px;
    text-align: left;
}

/*---------------------Table---------------------*/

table {
    margin: 20px auto;
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    box-sizing: border-box;
    background: rgba(224, 221, 172, 0.6);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    color: #090A08;
}

th, td {
    border: 2px inset #D8D6D3;
}

th {
    background-image: url('../img/bg-green.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 10px 20px;
}

td {
    box-sizing: border-box;
    max-width: 600px;
    overflow: auto;
    padding: 5px;
}

.button {
    width: 22%;
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #090A08;
    color: #70ab00;
}

.button:hover {
    transform: scale(1.2);
    transition-duration: 0.4s;
}

/*---------------------Footer--------------------*/

footer {
    height: 70px;
    width: 100%;
    background: #090A08;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

footer .copyright {
    font-size: 1em;
    color: #6CBE2B;
}

/*-----------------------Mobile-----------------*/

@media only screen and (max-width: 400px) {
    header {
        height: 100px;
        padding-bottom: 2px;
    }

    .active-left, .nav-left, .nav-right {
        display: inline-block;
        width: 25%;
        margin: 0 !important;
    }

    #banner {
        height: 150px;
    }

    #services {
        max-width: 100%;
    }

    #services {
        flex-direction: column;
        min-height: 200vh;
    }

    #services .card {
        width: 70%;
        margin-bottom: 20px;
    }

    #services .card:last-child {
        margin-bottom: 0;
    }

    #services .card p, #services .card h2 {
        margin: 20px 10px;
    }

    .title {
        font-size: 20px;
    }

    table {
        font-size: 14px;
    }

    td {
        max-width: 265px;
        padding: 2px;
    }

    form {
        width: 90%;
        padding: 15px 30px;
    }

    input {
        box-sizing: border-box;
    }
}